.preview-button {
  display: inline-block;
  border-bottom: 1px solid $border-color;
  width: 100%;
  margin-bottom: 5px;
}

.preview-button .lmo-btn {
  border-radius: 0;
  box-shadow: none;
}

.preview-button--first {
  margin-left: 5px;
}

.preview-button--selected {
  border: 1px solid $border-color;
  border-bottom: 1px solid $card-background-color;
  background: $card-background-color;
  margin-bottom: -1px;
}

.preview-button--unselected {
  background: $background-color;
}
