.preview-button
  %button.lmo-btn.preview-button--first.preview-button--selected{ng-if: "!previewing", type: "button", aria-label: "{{ 'loomio_content_preview.preview_button.preview'}}"}
    %span{translate: "common.action.edit"}
  %button.lmo-btn.preview-button--first.preview-button--unselected{ng-if: "previewing", type: "button", ng-click: "toggle()", aria-label: "{{ 'common.action.edit' | translate }}"}
    %span{translate: "common.action.edit"}

  %button.lmo-btn.preview-button--selected{ng-if: "previewing", type: "button", aria-label: "{{ 'loomio_content_preview.preview_button.preview'}}"}
    %span{translate: "loomio_content_preview.preview_button.preview"}
  %button.lmo-btn.preview-button--unselected{ng-if: "!previewing", type: "button", ng-click: "toggle()", aria-label: "{{ 'loomio_content_preview.preview_button.preview'}}"}
    %span{translate: "loomio_content_preview.preview_button.preview"}
