.preview-pane.hidden
  .preview-pane__without-content{ng-if: "!comment.body"}
    %span{translate: "loomio_content_preview.preview_pane.no_content"}
  .preview-pane__with-content{ng-if: "comment.body"}
    .thread-item__header.media
      .media-left
        %user_avatar{user: "comment.author()", size: "small"}
      .media-body
        %h3.new-comment__in-reply-to{ng-if: "comment.parentId", id: "event-{{event.id}}"}
          %strong> {{ comment.authorName() }}
          %span{translate: "new_comment_item.in_reply_to", translate-value-recipient: "{{comment.parentAuthorName}}"}
        %h3.new-comment__author-name{ng-if: "!comment.parentId"}> {{ comment.authorName() }}
        .sr-only{ng-if: "!comment.parentId", id: "event-{{event.id}}", translate: "new_comment_item.aria_label", translate-value-author: "{{comment.authorName()}}"}
    .thread-item__body.new-comment__body.lmo-markdown-wrapper{marked: "comment.cookedBody()"}
